<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELC</title>
    <link rel="stylesheet" href="/public/css/globals.css">
</head>

<body>
    <div class="navbar">
        <div class="">
            <h1>ELC</h1>
            <nav>
                <ul>
                    <li>home</li>
                    <li>productos</li>
                    <li>Sobre</li>
                    <li>Contacto</li>
                    <li>Conta</li>
                </ul>
            </nav>
            <div>
                <img src="/public/images/cart.png" >
                <img src="/public/images/menu.png" >
            </div>

        </div>



    </div>



    {{{body}}}
</body>

</html>